[Unit]
Description=Detect keyboards/mice
After=syslog.target network.target remote-fs.target nss-lookup.target
Before=weston@.service

[Service]
ExecStart=python3 /usr/local/bin/micromeritics-kb-mouse-detection.py
Restart=no
Type=oneshot
RemainAfterExit=yes

[Install]
WantedBy=multi-user.target
